@import '../../_variables'

.background-app
  background: $index-color
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center

.title-login
  color: #fff
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 600
  font-size: 30px

.mapudungun
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 600
  font-size: 30px
  line-height: 38px
  color: #fff


.copyright
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 600
  font-size: 12px
  line-height: 15px
  color: #D6D6D6

.gradient-container
  background: rgba(255, 255, 255, 0.5)
  border: 1px solid rgba(255, 255, 255, 0.5)
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
  border-radius: 10px

.login-logo
  width: 20%

// input
//   background: #FFFFFF
//   border-radius: 10px
//   color: #616161
//   font-family: 'Source Sans Pro'
//   font-style: normal
//   font-weight: 400
//   font-size: 14px
//   line-height: 18px

.input-container
  position: relative
  margin: 0 5%

.input-label
  position: absolute
  top: 0
  left: 15%
  color: #999
  font-size: 16px
  transition: all 0.2s ease-in-out


.input-icon
  position: relative
  width: 100%


.icon
  position: absolute
  top: 50%
  left: 0
  transform: translateY(-50%)
  width: 10%


.input-text
  width: 100%
  height: 50px
  padding: 8px 40px
  border: none
  border-radius: 10px
  background-color: #fff
  font-size: 16px
  color: #333
  transition: all 0.2s ease-in-out
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 400
  font-size: 14px
  line-height: 18px
  color: #616161


.input-text:focus
  outline: none
  box-shadow: 0px 0px 5px #bbb


.input-text:focus + .input-label
  top: -20px
  font-size: 12px
  color: #666

.forgot-text
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 700
  font-size: 14px
  line-height: 18px
  color: #FFFFFF
  text-decoration: none
  margin: 0 5%


.login-button
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
  background: linear-gradient(90deg, #895FF0 0%, #C281E8 100%)
  border-radius: 100px
  width: 50%
  color: #fff
  font-family: 'Source Sans Pro'
  font-style: normal
  font-weight: 600
  font-size: 16px
  line-height: 20px
  border: 0
