<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/images/login-image.jpg" alt="Login Image" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2 class="mb-4">Iniciar sesión</h2>
      <form>
        <div class="form-group">
          <label for="email">Correo electrónico</label>
          <input type="email" class="form-control" id="email" placeholder="Introduzca su correo electrónico">
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input type="password" class="form-control" id="password" placeholder="Introduzca su contraseña">
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
      </form>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
